In [1]:
from warnings import filterwarnings
filterwarnings('ignore')

### Read the datasets

In [2]:
import os
os.chdir("D:/ETLHIVE/Datasets")

In [3]:
import pandas as pd
df = pd.read_csv("Cars93.csv")

In [4]:
df.head()

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [5]:
df.shape

(93, 28)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  93 non-null     int64
 1   Manufacturer        93 non-null     object
 2   Model               93 non-null     object
 3   Type                93 non-null     object
 4   Min.Price           93 non-null     float64
 5   Price               93 non-null     float64
 6   Max.Price           93 non-null     float64
 7   MPG.city            93 non-null     int64
 8   MPG.highway         93 non-null     int64
 9   AirBags             56 non-null     object
 10  DriveTrain          93 non-null     object
 11  Cylinders           93 non-null     object
 12  EngineSize          93 non-null     float64
 13  Horsepower          93 non-null     int64
 14  RPM                 93 non-null     int64
 15  Rev.per.mile        93 non-null     int64
 16  Man.trans.avail     93 non-null     object
 17  Fuel.tank.capacity  93 non-null     float64
 18  Passengers          93 non-null     int64
 19  Length              93 non-null     int64
 20  Wheelbase           93 non-null     int64
 21  Width               93 non-null     int64
 22  Turn.circle         93 non-null     int64
 23  Rear.seat.room      91 non-null     float64
 24  Luggage.room        82 non-null     float64
 25  Weight              93 non-null     int64
 26  Origin              93 non-null     object
 27  Make                93 non-null     object
dtypes: float64(7), int64(12), object(9)
memory usage: 20.5+ KB

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,93.0,47.000000,26.990739,1.0,24.0,47.0,70.0,93.0
Min.Price,93.0,17.125806,8.746029,6.7,10.8,14.7,20.3,45.4
Price,93.0,19.509677,9.659430,7.4,12.2,17.7,23.3,61.9
Max.Price,93.0,21.898925,11.030457,7.9,14.7,19.6,25.3,80.0
MPG.city,93.0,22.365591,5.619812,15.0,18.0,21.0,25.0,46.0
MPG.highway,93.0,29.086022,5.331726,20.0,26.0,28.0,31.0,50.0
EngineSize,93.0,2.667742,1.037363,1.0,1.8,2.4,3.3,5.7
Horsepower,93.0,143.827957,52.374410,55.0,103.0,140.0,170.0,300.0
RPM,93.0,5280.645161,596.731690,3800.0,4800.0,5200.0,5750.0,6500.0
Rev.per.mile,93.0,2332.204301,496.506525,1320.0,1985.0,2340.0,2565.0,3755.0
Fuel.tank.capacity,93.0,16.664516,3.279370,9.2,14.5,16.4,18.8,27.0
Passengers,93.0,5.086022,1.038979,2.0,4.0,5.0,6.0,8.0
Length,93.0,183.204301,14.602382,141.0,174.0,183.0,192.0,219.0
Wheelbase,93.0,103.946237,6.819674,90.0,98.0,103.0,110.0,119.0
Width,93.0,69.376344,3.778986,60.0,67.0,69.0,72.0,78.0
Turn.circle,93.0,38.956989,3.223265,32.0,37.0,39.0,41.0,45.0
Rear.seat.room,91.0,27.829670,2.989072,19.0,26.0,27.5,30.0,36.0
Luggage.room,82.0,13.890244,2.997967,6.0,12.0,14.0,15.0,22.0
Weight,93.0,3072.903226,589.896510,1695.0,2620.0,3040.0,3525.0,4105.0

In [8]:
## Checking missing values
s = df.isna().sum()
s

id                     0
Manufacturer           0
Model                  0
Type                   0
Min.Price              0
Price                  0
Max.Price              0
MPG.city               0
MPG.highway            0
AirBags               37
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    0
Rev.per.mile           0
Man.trans.avail        0
Fuel.tank.capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn.circle            0
Rear.seat.room         2
Luggage.room          11
Weight                 0
Origin                 0
Make                   0
dtype: int64

In [9]:
s[s>0]

AirBags           37
Rear.seat.room     2
Luggage.room      11
dtype: int64

### Seperate x and y

In [10]:
x = df.drop(columns=['id','Weight'])
y = df[['Weight']]

In [11]:
x.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,13.2,5,177,102,68,37,26.5,11.0,non-USA,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,18.0,5,195,115,71,38,30.0,15.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,16.9,5,180,102,67,37,28.0,14.0,non-USA,Audi 90
3,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,Front,...,21.1,6,193,106,70,37,31.0,17.0,non-USA,Audi 100
4,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,21.1,4,186,109,69,39,27.0,13.0,non-USA,BMW 535i

In [12]:
y.head()

   Weight
0    2705
1    3560
2    3375
3    3405
4    3640

### Seperate cat and con variables in x

In [13]:
cat = list(x.columns[x.dtypes == 'object'])
con = list(x.columns[x.dtypes != 'object'])

In [14]:
cat

['Manufacturer',
 'Model',
 'Type',
 'AirBags',
 'DriveTrain',
 'Cylinders',
 'Man.trans.avail',
 'Origin',
 'Make']

In [15]:
con

['Min.Price',
 'Price',
 'Max.Price',
 'MPG.city',
 'MPG.highway',
 'EngineSize',
 'Horsepower',
 'RPM',
 'Rev.per.mile',
 'Fuel.tank.capacity',
 'Passengers',
 'Length',
 'Wheelbase',
 'Width',
 'Turn.circle',
 'Rear.seat.room',
 'Luggage.room']

### Create a feature selection pipeline

In [16]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

In [17]:
# num pipeline
num_pipe = Pipeline(steps=[('imputer', SimpleImputer(strategy='mean')),
                          ('scaler', StandardScaler())])

# cat pipeline
cat_pipe = Pipeline(steps=[('impute', SimpleImputer(strategy='most_frequent')),
                           ('ordinal', OrdinalEncoder())])

# Combine both of them in one pipeline
pre1 = ColumnTransformer([('num', num_pipe, con),
                         ('cat', cat_pipe, cat)])

In [18]:
x_pre = pre1.fit_transform(x)
x_pre

array([[-0.48578741, -0.37572014, -0.28246529, ...,  1.        ,
         1.        ,  0.        ],
       [ 1.38801699,  1.49784409,  1.53140881, ...,  1.        ,
         1.        ,  1.        ],
       [ 1.00865782,  0.99822696,  0.94805231, ...,  1.        ,
         1.        ,  3.        ],
       ...,
       [ 0.66378585,  0.39452293,  0.16416702, ...,  1.        ,
         1.        , 87.        ],
       [ 0.53733279,  0.33207079,  0.14593713, ...,  1.        ,
         1.        , 91.        ],
       [ 0.88220476,  0.7484184 ,  0.60168439, ...,  1.        ,
         1.        , 92.        ]])

In [19]:
cols = pre1.get_feature_names_out()
cols

array(['num__Min.Price', 'num__Price', 'num__Max.Price', 'num__MPG.city',
       'num__MPG.highway', 'num__EngineSize', 'num__Horsepower',
       'num__RPM', 'num__Rev.per.mile', 'num__Fuel.tank.capacity',
       'num__Passengers', 'num__Length', 'num__Wheelbase', 'num__Width',
       'num__Turn.circle', 'num__Rear.seat.room', 'num__Luggage.room',
       'cat__Manufacturer', 'cat__Model', 'cat__Type', 'cat__AirBags',
       'cat__DriveTrain', 'cat__Cylinders', 'cat__Man.trans.avail',
       'cat__Origin', 'cat__Make'], dtype=object)

In [20]:
len(cols)

26

In [21]:
x_pre = pd.DataFrame(x_pre, columns=cols)
x_pre.head()

,num__Min.Price,num__Price,num__Max.Price,num__MPG.city,num__MPG.highway,num__EngineSize,num__Horsepower,num__RPM,num__Rev.per.mile,num__Fuel.tank.capacity,...,num__Luggage.room,cat__Manufacturer,cat__Model,cat__Type,cat__AirBags,cat__DriveTrain,cat__Cylinders,cat__Man.trans.avail,cat__Origin,cat__Make
0,-0.485787,-0.375720,-0.282465,0.471312,0.360925,-0.841022,-0.073484,1.717489,1.129530,-1.062184,...,-1.033015,0.0,48.0,3.0,1.0,1.0,1.0,1.0,1.0,0.0
1,1.388017,1.497844,1.531409,-0.781032,-0.770514,0.515869,1.078322,0.369586,0.005661,0.409445,...,0.396643,0.0,55.0,2.0,0.0,1.0,3.0,1.0,1.0,1.0
2,1.008658,0.998227,0.948052,-0.423219,-0.581941,0.128186,0.540813,0.369586,-0.105713,0.072197,...,0.039228,1.0,8.0,0.0,1.0,1.0,3.0,1.0,1.0,3.0
3,1.571949,1.893374,2.069191,-0.602126,-0.581941,0.128186,0.540813,0.369586,0.410659,1.359872,...,1.111472,1.0,0.0,2.0,1.0,1.0,3.0,1.0,1.0,2.0
4,0.755752,1.091905,1.303535,-0.065407,0.172352,0.806631,1.231897,0.706562,0.430909,1.359872,...,-0.318186,2.0,5.0,2.0,1.0,2.0,1.0,1.0,1.0,4.0

### Feature selection

In [22]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import SequentialFeatureSelector

In [23]:
lr = LinearRegression()
sel = SequentialFeatureSelector(lr, direction='backward')
sel_feature = sel.fit_transform(x_pre, y)
sel_cols = sel.get_feature_names_out()
sel_cols

array(['num__Price', 'num__MPG.highway', 'num__Horsepower', 'num__RPM',
       'num__Fuel.tank.capacity', 'num__Passengers', 'num__Length',
       'num__Wheelbase', 'num__Luggage.room', 'cat__Manufacturer',
       'cat__Type', 'cat__Cylinders', 'cat__Origin'], dtype=object)

In [24]:
len(sel_cols)

13

### Extracting imp column names

In [25]:
sel_cols[0].split('__')

['num', 'Price']

In [26]:
sel_cols[0].split('__')[1]

'Price'

In [27]:
imp_cols = []
for i in sel_cols:
    s = i.split('__')[1]
    imp_cols.append(s)

In [28]:
imp_cols

['Price',
 'MPG.highway',
 'Horsepower',
 'RPM',
 'Fuel.tank.capacity',
 'Passengers',
 'Length',
 'Wheelbase',
 'Luggage.room',
 'Manufacturer',
 'Type',
 'Cylinders',
 'Origin']

In [29]:
x_sel = x[imp_cols]

In [30]:
x_sel.head()

,Price,MPG.highway,Horsepower,RPM,Fuel.tank.capacity,Passengers,Length,Wheelbase,Luggage.room,Manufacturer,Type,Cylinders,Origin
0,15.9,31,140,6300,13.2,5,177,102,11.0,Acura,Small,4,non-USA
1,33.9,25,200,5500,18.0,5,195,115,15.0,Acura,Midsize,6,non-USA
2,29.1,26,172,5500,16.9,5,180,102,14.0,Audi,Compact,6,non-USA
3,37.7,26,172,5500,21.1,6,193,106,17.0,Audi,Midsize,6,non-USA
4,30.0,30,208,5700,21.1,4,186,109,13.0,BMW,Midsize,4,non-USA

### Seperate Cat sel and con sel

In [31]:
cat_sel = list(x_sel.columns[x_sel.dtypes=='object'])
con_sel = list(x_sel.columns[x_sel.dtypes!='object'])

In [32]:
cat_sel

['Manufacturer', 'Type', 'Cylinders', 'Origin']

In [33]:
con_sel

['Price',
 'MPG.highway',
 'Horsepower',
 'RPM',
 'Fuel.tank.capacity',
 'Passengers',
 'Length',
 'Wheelbase',
 'Luggage.room']

### Create a finalpipeline contaning OneHot Encoder

In [34]:
from sklearn.preprocessing import OneHotEncoder

In [35]:
num_pipe2 = Pipeline(steps=[('impute', SimpleImputer(strategy='mean')),
                           ('scaler', StandardScaler())])

cat_pipe2 = Pipeline(steps=[('impute', SimpleImputer(strategy='most_frequent')),
                           ('ohe', OneHotEncoder(handle_unknown='ignore'))])

pre2 = ColumnTransformer([('num', num_pipe2, con_sel),
                         ('cat', cat_pipe2, cat_sel)])

In [36]:
x_sel_pre = pre2.fit_transform(x_sel).toarray()
x_sel_pre

array([[-0.37572014,  0.36092485, -0.07348445, ...,  0.        ,
         0.        ,  1.        ],
       [ 1.49784409, -0.77051373,  1.07832243, ...,  0.        ,
         0.        ,  1.        ],
       [ 0.99822696, -0.58194063,  0.54081255, ...,  0.        ,
         0.        ,  1.        ],
       ...,
       [ 0.39452293, -0.77051373,  0.65599324, ...,  0.        ,
         0.        ,  1.        ],
       [ 0.33207079, -0.20479444, -0.57260077, ...,  0.        ,
         0.        ,  1.        ],
       [ 0.7484184 , -0.20479444,  0.46402543, ...,  0.        ,
         0.        ,  1.        ]])

In [37]:
final_cols = pre2.get_feature_names_out()
final_cols

array(['num__Price', 'num__MPG.highway', 'num__Horsepower', 'num__RPM',
       'num__Fuel.tank.capacity', 'num__Passengers', 'num__Length',
       'num__Wheelbase', 'num__Luggage.room', 'cat__Manufacturer_Acura',
       'cat__Manufacturer_Audi', 'cat__Manufacturer_BMW',
       'cat__Manufacturer_Buick', 'cat__Manufacturer_Cadillac',
       'cat__Manufacturer_Chevrolet', 'cat__Manufacturer_Chrylser',
       'cat__Manufacturer_Chrysler', 'cat__Manufacturer_Dodge',
       'cat__Manufacturer_Eagle', 'cat__Manufacturer_Ford',
       'cat__Manufacturer_Geo', 'cat__Manufacturer_Honda',
       'cat__Manufacturer_Hyundai', 'cat__Manufacturer_Infiniti',
       'cat__Manufacturer_Lexus', 'cat__Manufacturer_Lincoln',
       'cat__Manufacturer_Mazda', 'cat__Manufacturer_Mercedes-Benz',
       'cat__Manufacturer_Mercury', 'cat__Manufacturer_Mitsubishi',
       'cat__Manufacturer_Nissan', 'cat__Manufacturer_Oldsmobile',
       'cat__Manufacturer_Plymouth', 'cat__Manufacturer_Pontiac',
       'cat__Manufacturer_Saab', 'cat__Manufacturer_Saturn',
       'cat__Manufacturer_Subaru', 'cat__Manufacturer_Suzuki',
       'cat__Manufacturer_Toyota', 'cat__Manufacturer_Volkswagen',
       'cat__Manufacturer_Volvo', 'cat__Type_Compact', 'cat__Type_Large',
       'cat__Type_Midsize', 'cat__Type_Small', 'cat__Type_Sporty',
       'cat__Type_Van', 'cat__Cylinders_3', 'cat__Cylinders_4',
       'cat__Cylinders_5', 'cat__Cylinders_6', 'cat__Cylinders_8',
       'cat__Cylinders_rotary', 'cat__Origin_USA', 'cat__Origin_non-USA'],
      dtype=object)

In [38]:
x_sel_pre = pd.DataFrame(x_sel_pre, columns= final_cols)
x_sel_pre.head()

,num__Price,num__MPG.highway,num__Horsepower,num__RPM,num__Fuel.tank.capacity,num__Passengers,num__Length,num__Wheelbase,num__Luggage.room,cat__Manufacturer_Acura,...,cat__Type_Sporty,cat__Type_Van,cat__Cylinders_3,cat__Cylinders_4,cat__Cylinders_5,cat__Cylinders_6,cat__Cylinders_8,cat__Cylinders_rotary,cat__Origin_USA,cat__Origin_non-USA
0,-0.375720,0.360925,-0.073484,1.717489,-1.062184,-0.083243,-0.427186,-0.286932,-1.033015,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.497844,-0.770514,1.078322,0.369586,0.409445,-0.083243,0.812171,1.629649,0.396643,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,0.998227,-0.581941,0.540813,0.369586,0.072197,-0.083243,-0.220626,-0.286932,0.039228,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,1.893374,-0.581941,0.540813,0.369586,1.359872,0.884457,0.674465,0.302785,1.111472,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,1.091905,0.172352,1.231897,0.706562,1.359872,-1.050944,0.192493,0.745073,-0.318186,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

### Perform train test split

In [39]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x_sel_pre, y ,test_size=0.2, random_state=21)

In [40]:
xtrain.head()

,num__Price,num__MPG.highway,num__Horsepower,num__RPM,num__Fuel.tank.capacity,num__Passengers,num__Length,num__Wheelbase,num__Luggage.room,cat__Manufacturer_Acura,...,cat__Type_Sporty,cat__Type_Van,cat__Cylinders_3,cat__Cylinders_4,cat__Cylinders_5,cat__Cylinders_6,cat__Cylinders_8,cat__Cylinders_rotary,cat__Origin_USA,cat__Origin_non-USA
57,1.289670,-0.016221,-0.265452,-0.304365,-0.663618,-0.083243,-0.564892,0.155356,-0.675601,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
31,-0.979424,0.172352,-0.323043,2.054464,-1.062184,-0.083243,-0.840305,-0.876650,-0.675601,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
62,0.685966,-0.959087,1.116716,1.212025,0.716035,-0.083243,0.467905,0.450214,0.039228,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
29,-0.021825,-0.204794,1.347077,0.875050,0.409445,0.884457,1.294143,1.334791,0.396643,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
51,1.726835,-0.581941,1.270290,-1.146804,1.022624,0.884457,2.464647,1.924508,2.898544,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [41]:
ytrain.head()

    Weight
57    2920
31    2530
62    3730
29    3490
51    4055

In [42]:
xtest.head()

,num__Price,num__MPG.highway,num__Horsepower,num__RPM,num__Fuel.tank.capacity,num__Passengers,num__Length,num__Wheelbase,num__Luggage.room,cat__Manufacturer_Acura,...,cat__Type_Sporty,cat__Type_Van,cat__Cylinders_3,cat__Cylinders_4,cat__Cylinders_5,cat__Cylinders_6,cat__Cylinders_8,cat__Cylinders_rotary,cat__Origin_USA,cat__Origin_non-USA
23,-0.854520,-0.016221,-0.975733,-0.809828,-0.816912,-0.083243,-0.771452,-1.024079,-0.318186,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
86,0.332071,-1.336233,-0.111878,-0.472853,0.961306,1.852158,0.261346,1.334791,0.000000,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
91,0.332071,-0.204794,-0.572601,0.201098,-0.265051,-0.083243,0.467905,0.007926,0.039228,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
21,1.039862,-0.581941,0.060893,-0.809828,-0.203734,0.884457,1.362996,0.892502,1.111472,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
17,-0.073868,-0.581941,0.502419,-1.820755,1.942392,0.884457,2.120381,1.777079,2.183715,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [43]:
ytest.head()

    Weight
23    2670
86    3785
91    2985
21    3570
17    3910

In [44]:
xtrain.shape

(74, 55)

In [45]:
xtest.shape

(19, 55)

### Createing a model

In [46]:
model = LinearRegression()
model.fit(xtrain, ytrain)

LinearRegression()

### Check r2 score in train and test

In [47]:
model.score(xtrain, ytrain)

0.9868653746294301

In [48]:
model.score(xtest, ytest)

0.9073744144906257

### Create a function to evaluate model

In [49]:
def evaluate_model(xtrain, ytrain, xtest, ytest, model):
    # Predict train and test results
    ypred_tr = model.predict(xtrain)
    ypred_ts = model.predict(xtest)
    # Get metrices
    from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
    tr_mse = mean_squared_error(ytrain , ypred_tr)
    tr_rmse = tr_mse**(1/2)
    tr_mae = mean_absolute_error(ytrain, ypred_tr)
    tr_r2 = r2_score(ytrain, ypred_tr)
    #print all train results
    print('Traning Results : ')
    print(f'MSE : {tr_mse:.2f}')
    print(f'RMSE : {tr_rmse:.2f}')
    print(f'MAE : {tr_mae:.2f}')
    print(f'R2 : {tr_r2:.4f}')
    # tesing result
    ts_mse = mean_squared_error(ytest , ypred_ts)
    ts_rmse = tr_mse**(1/2)
    ts_mae = mean_absolute_error(ytest , ypred_ts)
    ts_r2 = r2_score(ytest , ypred_ts)
    # Print all tset result
    print("\n=====================================\n")
    print('Traning Results : ')
    print(f'MSE : {ts_mse:.2f}')
    print(f'RMSE : {ts_rmse:.2f}')
    print(f'MAE : {ts_mae:.2f}')
    print(f'R2 : {ts_r2:.4f}')

In [50]:
from Function import evaluate_model

In [51]:
evaluate_model(xtrain, ytrain, xtest, ytest, model)

Training Results :
MSE : 4418.11
RMSE: 66.47
MAE : 47.72
R2  : 0.9869

====================================

Testing Results :
MSE : 33595.02
RMSE: 183.29
MAE : 150.11
R2  : 0.9074

In [52]:
xtrain.shape

(74, 55)

### Calculating adjusted R2

In [53]:
xtrain.shape[0]

74

In [54]:
xtrain.shape[1]

55

In [55]:
def r2_adjusted(xtrain, ytrain, model):
    # Getting r2 score
    r2 = model.score(xtrain,ytrain)
    # getting values of n rows and columns
    N = xtrain.shape[0]
    P = xtrain.shape[1]
    # calculate r2_adjusted
    num = (1-r2)*(N-1)
    den = N-P-1
    res = 1 - num/den
    return res

In [58]:
from Function import r2_adjusted

In [59]:
r2_adjusted(xtrain, ytrain, model)

0.9467317971082444

### Check train and test predictions

In [60]:
ypred_tr = model.predict(xtrain)
ypred_ts = model.predict(xtest)

In [62]:
ypred_tr[0:5]

array([[2828.91998203],
       [2456.01987162],
       [3536.16408886],
       [3547.77402476],
       [4096.42568297]])

In [67]:
ytrain.head()

    Weight
57    2920
31    2530
62    3730
29    3490
51    4055

In [63]:
ypred_ts[0:5]

array([[2589.16437467],
       [3940.26593648],
       [3191.79724563],
       [3674.08552187],
       [3784.39691077]])

In [66]:
ytest.head()

    Weight
23    2670
86    3785
91    2985
21    3570
17    3910

### In Backward elimination R2 Score in testing is less (0.9073)

### In Forward Selection R2 Score in testing is more (0.95)

### Hence not predicting with Backward elimination